<div>
  <div class="title">
    <h1 style="font-weight: 500">Edit Building {{ buildingId }}</h1>
    <a routerLink="/building/123/room/8/edit" class="menu-link">(Show Rooms)</a>
  </div>

  <form [formGroup]="buildingForm">
    <div class="main-content">
      <div>
        <mat-form-field
          class="mat-form-field-fluid full-width"
          appearance="outline"
        >
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
          class="mat-form-field-fluid full-width"
          appearance="outline"
        >
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <app-nickname-editor [parentForm]="buildingForm"></app-nickname-editor>
    </div>
    <div class="footer">
      <button
        type="button"
        class="save-button"
        mat-raised-button
        matTooltip="Click to save building details"
        (click)="submit()"
        color="primary"
        [disabled]="buildingForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
