<div>
  <div class="title">
    <h1 style="font-weight: 500">Edit Room {{ roomId }}</h1>
    <a routerLink="/building/123/edit" class="menu-link">(Show Building)</a>
  </div>

  <form [formGroup]="roomForm">
    <div class="main-content">
      <div>
        <mat-form-field
          class="mat-form-field-fluid full-width"
          appearance="outline"
        >
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
      </div>
      <app-nickname-editor [parentForm]="roomForm"></app-nickname-editor>
    </div>
    <div class="footer">
      <div class="save-button">
        <button
          type="button"
          class="save-button"
          mat-raised-button
          matTooltip="Click to save room details"
          (click)="submit()"
          color="primary"
          [disabled]="roomForm.invalid"
        >
          Save
        </button>
      </div>
      <div *ngIf="roomForm.invalid" class="footer-error">
        (Correct all errors in the form)
      </div>
    </div>
  </form>
</div>
